[submodule "Negligent-Precision/vendor/GLFW"]
	path = Negligent-Precision/vendor/GLFW
	url = https://github.com/cogilv25/glfw
[submodule "Negligent-Precision/vendor/imgui"]
	path = Negligent-Precision/vendor/imgui
	url = https://github.com/cogilv25/imgui
[submodule "Negligent-Precision/vendor/glm"]
	path = Negligent-Precision/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Negligent-Precision/vendor/lua"]
	path = Negligent-Precision/vendor/lua
	url = https://github.com/cogilv25/lua
